    <!-- Header Semantico: Identifica l'intestazione superiore del sito.
     La classe class="header" servirà come aggancio CSS per posizionarlo fisicamente in alto a schermo (fixed/sticky) -->
    <header class="header">
        <!-- Contenitore di layout: limita la larghezza massima del contenuto su schermi ultrawide -->
        <div class="container nav-container">
            
            <!-- Link Brand/Logo: riporta alla sezione hero identificata dall'ancora top. -->
            <a href="#top" class="logo-text">
            <span class="p-color">P</span><span class="e-color">e</span><span class="s-color">S</span><span class="c-color">C</span><span class="a-color">A</span>
            <span class="studio-color">studio</span></a>
            
            <!-- Navigazione Semantica: menu principale del sito -->
            <nav class="nav-menu" aria-label="Navigazione principale">
                <ul>
                    <!-- Ancore interne: il prefisso # permette lo scroll diretto agli ID della pagina -->
                    <li><a href="#chi-sono" class="nav-chisono">Chi Sono</a></li>
                    <li><a href="#percorsi" class="nav-percorsi">Percorsi e Trattamenti</a></li>
                    <li><a href="#contatti" class="nav-contatti">Contatti e Sede</a></li>
                </ul>
            </nav>
            
        </div>
    </header>